{% load static%}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="fa">
<!--base.html-->
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> رادمان گستر</title>
  <style>
    #clock {
      color: #4682B4;
      font-size: 40px;
      font-family: Orbitron;
      letter-spacing: 7px;
       
    }
  </style>



  <script>
    function updateClock(initialTime) {
        var now = new Date(initialTime);
        setInterval(function() {
            now.setSeconds(now.getSeconds() + 1);
            var hours = now.getHours();
            var minutes = now.getMinutes();
            var seconds = now.getSeconds();
            if (hours < 10) hours = '0' + hours;
            if (minutes < 10) minutes = '0' + minutes;
            if (seconds < 10) seconds = '0' + seconds;
            var timeString = hours + ':' + minutes + ':' + seconds;
            document.getElementById('clock').innerHTML = timeString;
        }, 1000);
    }
  </script>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Favicons -->
  <link href="{% static 'img/new1.jpg' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static '/static/style.css' %}" rel="stylesheet">


</head>

<body onload="updateClock('{{ clock|escapejs }}')">  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="{% url 'blog:home' %}">رادمان گستر عصر دانش</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'blog:home' %}" class="active">صفحه اصلی</a></li>

          <li class="dropdown"><a href="#"><span>درباره رادمان</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'blog:about' %}">درباره ما</a></li>
              <li><a href="{% url 'blog:team' %}">تیم ما</a></li>
              <li><a href="{% url 'blog:testimonials' %}">گواهینامه ها</a></li>
            </ul>
          </li>
          <li><a href="{% url 'blog:services' %}">خدمات</a></li>
          <li><a href="{% url 'blog:portfolio' %}">پروژه ها</a></li>
          <li><a href="{% url 'weblog:blog_view' %}">وبلاگ</a></li>

          <li><a href="{% url 'blog:contact' %}">ارتباط با ما</a></li>
          <li><a href="{% url 'blog:home' %}" class="getstarted">شروع</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        {% include 'blog/messages.html' %}

        {% block content %}
      
        {% endblock %}
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url({% static 'img/slide/p1.jpg' %})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">خوش آمدید به  <span>وبسایت رسمی شرکت رادمان</span></h2>
             
              <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <a href="{% url 'blog:about' %}" class="btn-get-started animate__animated animate__fadeInUp scrollto">بیشتر بخوانید</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url({% static 'img/slide/p2.jpg' %})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">خوش آمدید به  <span>وبسایت رسمی شرکت رادمان</span></h2>
              <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <a href="{% url 'blog:about' %}" class="btn-get-started animate__animated animate__fadeInUp scrollto">بیشتر بخوانید</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url({% static 'img/slide/p3.jpg' %})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">خوش آمدید به  <span>وبسایت رسمی شرکت رادمان</span></h2>
              <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <a href="{% url 'blog:about' %}" class="btn-get-started animate__animated animate__fadeInUp scrollto">بیشتر بخوانید</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <div class="center-content">
      
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h1><span id="clock" >{{ clock }}</span></h1>
            <h3><div id="typed-text">درباره ما</div></h3>
            <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
            <h4 dir="rtl">شرکت رادمان گستر عصر دانش در سال ۱۳۹۳ با هدف ارائه خدمات نرم افزاری و سخت افزاری در زمینه شبکه و اینترنت , برق و مخابرات و سیستم های اعلان و اطفاء حریق مدیریت جامع تصاویر فعالیت خود را آغاز نمود و در اندک زمان ,
              با بهره گیری از نیروهای متخصص , متهد و توانمند توانست جایگاه ویژه ای را در جامعه ICT کشور به خود اختصاص دهد.
            </h4>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h7 dir="rtl">
              هم اکنون با پیشرفت تکنولوژی و نیاز روزافزون کشور به شبکه های بی سیم و کابلی کامپیوتری همگان با پیشگامان جهان در راستای به روز نمودن این صنعت در کشور طی طریق می نماید همچنین این شرکت توانست 
              طیف وسیعی از مشتریان را شامل : سازمان های دولتی ,شرکت های خصوصی,همکاران و کاربران نهایی تحت پوشش قرار دهد.
              ضمنا مسئولیت پذیری و مشتری محوری پایه های اصلی این شرکت می باشد,و نو آوری و برخورداری از قابلیت تغییر پذیری هدفمند از راهکار های مناسب برای بهبود و پیشرفت این شرکت است .
            </h7>
            <br>
            <h6 dir="ltr" style="font-family:verdana;bold;">چهار تا از اصلی ترین دلایلی که برای همکاری با این شرکت ما به شما ارائه میدیم</h6>
            <ul>
              <li dir="rtl"><i class="ri-check-double-line"></i> خدمات مشاوره در زمینه های LAN,WAN,Wireless</li>
              <li dir="rtl"><i class="ri-check-double-line"></i> خدمات نگهداری و پشتیبانی Wireless , اتاق سرور و Passive و Active</li>
              <li dir="rtl"><i class="ri-check-double-line"></i>خدمات نصب و راه اندازی شبکه های  LAN,WAN,Wireless و مانیتورینگ این تکنولوژی ها .</li>
              <li dir="rtl"><i class="ri-check-double-line"></i> خدمات فروش تمامی تجهیزات شبکه  server,switch,firewall,SAN,NAS و انواع رک های ایستاده و دیواری و انواع دکل مهاری و خودایستا.</li>
            </ul>
            <p class="fst-italic" dir="rtl">
              شرکت رادمان با بیشتر از 10 سال سابقه در زمینه شبکه های کامپیوتری پذیرای تمامی پروژه ها و نیاز های شما عزیزان در این زمینه ها هستش.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
    <div id="clients" class="clients section-bg">
      <div class="container">
        <div class="row justify-content-center align-items-center flex-wrap">
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center mb-4">
            <img src="{% static 'img/clients/زنجان.png' %}" class="img-fluid" alt="" style="width:50;height:50">
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center mb-4">
            <img src="{% static 'img/clients/images.png' %}" class="img-fluid" alt="" style="width:50;height:50">
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center mb-4">
            <img src="{% static 'img/clients/دانشگاه-آزاد-اسلامی-واحد-زنجان.png' %}" class="img-fluid" alt="" style="width:50;height:50">
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center mb-4">
            <img src="{% static 'img/clients/University_of_Zanjan.jpg' %}" class="img-fluid" alt="" style="width:50;height:50">
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center mb-4">
            <img src="{% static 'img/clients/artesh.png' %}" class="img-fluid" alt="" style="width:50;height:50">
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center mb-4">
            <img src="{% static 'img/clients/اداره اموزش و پرورش.png' %}" class="img-fluid" alt="" style="width:50;height:50">
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center mb-4">
            <img src="{% static 'img/clients/استانداری زنجان.png' %}" class="img-fluid" alt="" style="width:50;height:50">
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center mb-4">
            <img src="{% static 'img/clients/بانک مهر ایران.png' %}" class="img-fluid" alt="" style="width:50;height:50">
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center mb-4">
            <img src="{% static 'img/clients/پیام نور.png' %}" class="img-fluid" alt="" style="width:100;height:100">
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center mb-4">
            <img src="{% static 'img/clients/لوگو دانشگاه ازاد.png' %}" class="img-fluid" alt="" style="width:50;height:50">
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center mb-4">
            <img src="{% static 'img/clients/شرکت گاز.png' %}" class="img-fluid" alt="" style="width:50;height:50">
          </div>
        </div>
      </div>
    </div>
    <!-- End Clients Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
              <i class="bi bi-briefcase"></i>
              <h4><a href="{% url 'blog:services' %}">خدمات مشاوره</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-card-checklist"></i>
              <h4><a href="{% url 'blog:services' %}">خدمات نگهداری و پشتیبانی</a></h4>
              <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h4><a href="{% url 'blog:services' %}">خدمات نصب و راه اندازی</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-binoculars"></i>
              <h4><a href="{% url 'blog:services' %}">خدمات فروش</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-brightness-high"></i>
              <h4><a href="{% url 'blog:services' %}">تولید نرم افزارهای تحت شبکه به سفارش مشتری</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-calendar4-week"></i>
              <h4><a href="{% url 'blog:services' %}">مشاوره , طراحی و راه اندازی وب سایت</a></h4>
              <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 d-flex justify-content-center">
                  <ul id="portfolio-flters">
                      <li data-filter="*" class="filter-active">همه</li>
                      <li data-filter=".camera">دوربین</li>
                      <li data-filter=".network">شبکه</li>
                      <li data-filter=".wireless">بی سیم</li>
                  </ul>
              </div>
          </div>

          <div class="row portfolio-container">
              {% for project in projects %}
              {% if 'camera' in project.tag.names %}
              <div class="col-lg-4 col-md-6 portfolio-item camera">
              {% elif 'network' in project.tag.names %}
              <div class="col-lg-4 col-md-6 portfolio-item network">
              {% elif 'wireless' in project.tag.names %}
              <div class="col-lg-4 col-md-6 portfolio-item wireless">
              {% endif %}
                  <div class="portfolio-wrap">
                      <img src="{{ project.image1.url }}" class="img-fluid" alt="">
                      <div class="portfolio-info">
                          <h4>{{ project.title }}</h4>
                          <p>{{ project.content|clean_html|safe|truncatechars:60 }}</p>
                          <div class="portfolio-links">
                              <a href="{{ project.image1.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
                              <a href="{% url 'blog:portfolio_details' pid=project.id %}" class="portfolio-details-lightbox" data-glightbox="type: external" title="جزئیات پروژه"><i class="bx bx-link"></i></a>
                          </div>
                      </div>
                  </div>
              </div>

              {% if forloop.counter|divisibleby:3 %}
                  <div class="clearfix"></div>
              {% endif %}
              {% endfor %}
          </div>
      </div>
    </section>
    <!-- End Portfolio Section -->


  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>شرکت رادمان گستر</h3>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong dir='ltr'> شماره تماس:</strong> +1 5589 55488 55<br>
                <strong dir='ltr'>ایمیل:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>لینک های پر کاربرد</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'blog:home' %}">صفحه اصلی</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'blog:about' %}">درباره ما</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'blog:services' %}">خدمات ما</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'blog:team' %}">تیم ما</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'blog:testimonials' %}">گواهینامه ها</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4> </h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'blog:portfolio' %}">پروژه ها</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'weblog:blog_view' %}">وبلاگ</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'blog:contact' %}">ارتباط با ما</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4 dir='rtl'>اطلاع از اخرین اخبار</h4>
            <p dir='rtl'>اگر مایل به همکاری با ما هستید یا اگر میخواهید از اخرین اخبار ما باخبر شوید ایمیل خود را با ما به اشتراک بگذارید</p>
            <form action="{% url 'blog:newsletter' %}" method="post">
              {% csrf_token %}
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>
        </div>
      </div>
    </div>
    <div class="container">
      
      <div class="credits">
        <div>
          <a href="https://www.linkedin.com/in/kian-almasi" style="color:white;font-weight: smale;"><smale>create by Kian Almasi</smale></a>
        </div>
        <div style="color:white;font-weight: smale;">
          Linked<a href="https://www.linkedin.com/in/kian-almasi" style="color: DodgerBlue;font-weight: bold;"><i class="biu bi-linkedin" style="color: DodgerBlue; font-weight: bold;"></i></a>
        </div>
        <div style="color:white;font-weight: smale;"> @اطلاعات شما توسط شرکت رادمان محفوظ میباشد</div>
      </div>
    </div>
  </footer><!-- End Footer -->
  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/js/main.js' %}"></script>
  <!-- for close the message -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const closeBtns = document.querySelectorAll('.close');
      closeBtns.forEach(function(btn) {
        btn.addEventListener('click', function() {
          const alert = this.parentElement;
          alert.remove();
        });
      });
    });
  </script>
  <!-- for type text -->
  <script>
    var typed = new Typed('#typed-text', {
      strings: ["درباره ما"],
      typeSpeed: 1,     
      loop: false,        
      showCursor: false,  
      backSpeed: 500,       
      smartBackspace: false,  
    });
  </script> 
</body>
</html>