{% load humanize %}
{% load static %}
<h3 class="sidebar-title">Recent Posts</h3>
<div class="sidebar-item recent-posts">
    {% for post in posts %}
    <div class="post-item clearfix">
        <img src="{{ post.image.url }}" alt="">
        <h4><a href="/blog/{{ post.id }}">{{ post.title }}</a></h4>
        <time datetime="{{ post.published_date|date:'Y-m-d' }}">{{ post.published_date|date:"D / d / M / Y" }}</time>
        <time datetime="{{ post.published_date|date:'Y-m-d' }}">{{ post.published_date|naturaltime }}</time>
    </div>
    {% endfor %}
</div>
