<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contacts</title>
</head>
<body>
    <h1>this is contact page</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet, dui vel tristique malesuada, magna risus posuere nibh, eget fringilla orci turpis non nibh.
         Sed tincidunt fermentum nisl, nec pellentesque urna rutrum id. Quisque non nulla sed risus imperdiet pretium eu eu tortor.
          Nunc at turpis ut purus tempor sodales non in eros. Duis magna tellus, lacinia ut mi eget, malesuada lobortis ante.
           Integer scelerisque, metus tincidunt luctus ornare, quam nisi ornare dui, ut interdum eros neque sit amet leo.
            Integer auctor massa pulvinar arcu blandit, ut vestibulum sem mollis. Nulla at laoreet felis, in luctus eros.
        
        Nam vitae mollis sapien. Donec dapibus erat varius nibh porttitor molestie. Sed euismod egestas lacus, a ullamcorper tortor dignissim at.
         Mauris condimentum mauris eget rhoncus iaculis. Morbi eu eleifend odio. Maecenas id nisl nunc.
          Nunc volutpat nulla lacus. Fusce pulvinar iaculis nulla, eu auctor ex vulputate a.</p>
</body>
</html>