<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>this is home page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit euismod justo, nec sodales ipsum semper aliquet.
       Proin auctor ante et tortor fringilla suscipit ac a massa. Praesent pharetra dapibus ornare. In hac habitasse platea dictumst.
       Quisque pulvinar accumsan est, id viverra tortor volutpat in.
        Donec ultrices diam quis tincidunt congue. Pellentesque convallis purus et quam imperdiet faucibus.
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim convallis dignissim.
          Integer ac lacus non ante egestas dignissim. Duis fermentum dapibus urna, pellentesque sollicitudin diam tristique sit amet.
           Ut porttitor ac nibh eget posuere. Etiam interdum nibh interdum sem tincidunt dictum ac placerat diam.
            Phasellus eu ante viverra, laoreet felis convallis, molestie justo.</p>
</body>
</html>